/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# Ignore Gemfile.lock, since this is a gem
Gemfile.lock

# Emacs old version files
*~

# Generated documentation
public/doc
