/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/

# MacOS files
.DS_Store

# rspec failure tracking
.rspec_status

# Ignore Gemfile.lock, since this is a gem
Gemfile.lock

# Emacs old version files and save files
*~
*-s

# Generated documentation
.yardoc
public/doc

# log files
*.log

# Node.js and related; we ignore yarn.lock for the same reason we ignore Gemfile.lock
node_modules
yarn.lock

# SQLite database files from the test application
spec/FlCoreTestApp/db/*.sqlite3
spec/FlCoreTestApp/db/*.sqlite3-*

# caches, tempfiles, and local storage for ActiveStorage
spec/FlCoreTestApp/tmp
spec/FlCoreTestApp/storage

# temporary until we clean up the test directory
spec/FlCoreTestApp/test

# Generated documentation in the test app
spec/FlCoreTestApp/.yardoc
spec/FlCoreTestApp/public/doc
